	#ordersTable {
		border-bottom-top:6px;
	}
	#ordersTable th{
		background-color:#bfbfef;
	}
	#ordersTable td{
		width:160px;
		border-bottom:1px dotted deeppink;
	}
	#orderPanel{
		position:absolute;
		top:0;left:0;
		z-index: index 3;
		display:block;
		width:100%;
		background-color:#AAA;
	}
	#orderPanel.hide{
		display:none;
	}
	#orderPanel caption {
		color:#7B68EE;
		font-weight:bold;
		font-size:30px;
	}
	#orderPanel table {
		margin-top:60px;
		margin-bottom:60px;
	}
	#orderPanel th {
		padding-right:20px;
	}
	#btnSal, #btnHiredate {
		text-align:right;
	}
	#btnAddOrder {
		background-color:white;
		border:1px dotted white;
	}
	#btnAddOrder:hover {
		background-color:white;
		border:1px dotted lightblue;
	}
	#navBar{
/*		margin:auto;*/
	}